[submodule "tools/distcc"]
    path = tools/src/distcc
    url = https://github.com/rmatev/distcc.git
    branch = 3.3.2-251dad7-lhcb
[submodule "tools/src/ccache"]
	path = tools/src/ccache
	url = https://github.com/ccache/ccache.git
[submodule "tools/src/ninja"]
	path = tools/src/ninja
	url = https://github.com/ninja-build/ninja.git
[submodule "tools/src/cmake"]
	path = tools/src/cmake
	url = https://gitlab.kitware.com/rmatev/cmake.git
	branch = ninja-pool-custom-command
